root = true

[*]
end_of_line = lf # 设置换行符
charset = utf-8 # 设置编码
indent_style = tab # 缩进风格
indent_size = 4 # 缩进大小
trim_trailing_whitespace = true # 去除行首的任意空白字符
insert_final_newline = true # 始终在文件末尾插入一个新行
