.blog-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
	}

	h1::after,
	h2::after,
	h3::after,
	h4::after,
	h5::after,
	h6::after {
		.blog-mixins.text.decorated-after();
	}

	h1::after {
		width: 7px;
		background-color: .blog-color-title[ @Purple];
	}

	h2::after {
		width: 6px;
		background-color: .blog-color-title[ @Blue];
	}

	h3::after {
		width: 5px;
		background-color: .blog-color-title[ @Cyan];
	}

	h4::after {
		width: 4px;
		background-color: .blog-color-title[ @Green];
	}

	h5::after {
		width: 3px;
		background-color: .blog-color-title[ @Yellow];
	}

	h6::after {
		width: 2px;
		background-color: .blog-color-title[ @Red];
	}
}
